<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selling Later</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

{{!-- 
  <header>
  <a href="/">
  <img alt="Selling Later" src="/images/logo.png"
    width="150" height="70">
  </a>
  <ul class = "nav-bar">
    <li><a href="default.asp">View Homes</a></li>
    <li><a href="default.asp">Save</a></li>
    <li><a href="default.asp">How It Works</a></li>
    <li><a href="default.asp">Learn</a></li>
    <li><a href="default.asp">Stories</a></li>
  </ul>
 <button class="logininfo" onclick="openLoginForm()">Sign In</button>
 <button class="logininfo"onclick="openRegisterForm()">Sign Up</button>
</header> --}}

<article>
  <h2>
    Edit Listing
  </h2>
  <form class="new-listing-form">
    <div class="form-row">
      <label>Address</label>
      <input type="text" name="address" value="{{hpost.address}}" />
    </div>
    <div>
      <label>Sell Date</label>
      <input type="text" name="sell_date" value="{{hpost.sell_date}}" />
    </div>
    <div>
      <label>Link</label>
      <input name="post_url" value="{{hpost.post_url}}"/>
    </div>
    <div>
      <label>Price Floor</label>
      <input type="text" name="price_floor" value="{{hpost.price_floor}}"/>
    </div>  
    <div>
      <label>Price Ceiling</label>
      <input type="text" name="price_ceiling" value="{{hpost.price_ceiling}}"/>
    </div>   
    <div>
      <label>Bedrooms</label>
      <input type="text" name="beds" value="{{hpost.beds}}"/>
    </div> 
    <div>
      <label>Bathrooms</label>
      <input type="text" name="baths" value="{{hpost.baths}}"/>
    </div>
    <div>
      <label>Sqft</label>
      <input type="text" name="sqft" value="{{hpost.sqft}}"/>
    </div>    
    <button type="submit">Save Listing!</button>
    <button type="button" class="delete-hpost-btn">Delete post</button>
  </form>
</article>

<script src="/javascript/edit-listing.js"></script>
<script src="/javascript/delete-listing.js"></script>
<script src="/javascript/login.js"></script>
<script src="/javascript/register.js"></script>
