{{!-- <nav>
  <a href="/new-listing">Create New Listing</a>
</nav> --}}
<section class="listing-search">
<div>
      <label class="search-title">Search By Price Floor:</label>
      <select class="price-floor-search" name="price-floor-search">
        <option value="-">-</option>
        <option value="<500000">Under 500000</option>
        <option value="500000-700000">500000-700000</option>
        <option value="700000-900000">700000-900000</option>
        <option value="900000-1200000">900000-1200000</option>
        <option value=">1200000">Over 1200000</option>
      </select>
</div>  

<div>
      <label class="search-title">Search By Price Ceiling:</label>
      <select class="price-ceiling-search" name="price-ceiling-search">
        <option value="-">-</option>
        <option value="<500000">Under 500000</option>
        <option value="500000-700000">500000-700000</option>
        <option value="700000-900000">700000-900000</option>
        <option value="900000-1200000">900000-1200000</option>
      </select>
</div>

<div>
      <label class="search-title">Search By Bedrooms:</label>
      <select class="bedrooms-search" name="bedrooms-search">
        <option value="-">-</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4+">4+</option>
      </select>
</div>

<div>
      <label class="search-title">Search By Bathrooms:</label>
      <select class="bathrooms-search" name="bathrooms-search">
        <option value="-">-</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4+">4+</option>
      </select>
</div>

<div>
      <label class="search-title">Search By Sqft:</label>
      <select class="sqft-search" name="sqft-search">
        <option value="-">-</option>
        <option value="<1000">Under 1000</option>
        <option value="1000-1500">1000-1500</option>
        <option value="1500-2000">1500-2000</option>
        <option value="2000-2500">2000-2500</option>
        <option value="2500-3000">2500-3000</option>
        <option value="3000+">3000+</option>
        
      </select>
</div>
</section>

<ol class="all-hposts">
{{#each hposts as |hpost|}}
  <li>
    <article >
      <div>
        <h2>{{hpost.address}}</h2>
        <span>({{hpost.post_url}})</span>
      </div>
      <div>Approx Sell Date: {{hpost.sell_date}}</div>
      <div>Price Range: {{hpost.price_floor}} - {{hpost.price_ceiling}}</div>
      <div>{{hpost.beds}}Beds, {{hpost.baths}}Ba</div>
      <div>Sqft: {{sqft}}</div>
      <div>by {{hpost.user.username}} on {{hpost.created_at}}</div>
      
    </article>
  </li>
  {{/each}}
</ol>

<ol class="searchposts">

</ol>

{{!-- search.houses copy.handlebars --}}

<script src="/javascript/listings.js"></script>
<script src="/javascript/price-search.js"></script>
<script src="/javascript/bedrooms-search.js"></script>
<script src="/javascript/bathrooms-search.js"></script>
<script src="/javascript/sqft-search.js"></script>