{{!-- <nav>
  <a href="/new-listing">Create New Listing</a>
</nav> --}}

<div>
      <label>Search By Price Range:</label>
      <select name="price-search">
        <option value="<500000">Under 500000</option>
        <option value="500000-700000">500000-700000</option>
        <option value="700000-900000">700000-900000</option>
        <option value="900000-1200000">900000-1200000</option>
      </select>
</div>  

<ol>
{{#each hposts as |hpost|}}
  <li>
    <article>
      <div>
        <h2>{{hpost.address}}</h2>
        <span>({{hpost.post_url}})</span>
      </div>
      <div>Approx Sell Date: {{hpost.sell_date}}</div>
      <div>Price Range: {{hpost.price_floor}} - {{hpost.price_ceiling}}</div>
      <div>{{hpost.beds}}Beds, {{hpost.baths}}Ba</div>
      <div>Sqft: {{sqft}}</div>
      <div>by {{hpost.user.username}} on {{hpost.created_at}}</div>
      
    </article>
  </li>
  {{/each}}
</ol>

{{!-- search.houses copy.handlebars --}}

<script src="/javascript/listings.js"></script>