<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selling Later</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
  <a href="/">
  <img alt="Selling Later" src="/images/logo.png"
    width="150" height="70">
  </a>
  <ul class = "nav-bar">
    <li><a href="default.asp">View Homes</a></li>
    <li><a href="default.asp">Save</a></li>
    <li><a href="default.asp">How It Works</a></li>
    <li><a href="default.asp">Learn</a></li>
    <li><a href="default.asp">Stories</a></li>
  </ul>
 <button onclick="openLoginForm()">Sign In</button>
 <button onclick="openRegisterForm()">Sign Up</button>
</header>

<section>
  <h2>Create New Listing</h2>

  <form class="new-listing-form">
    <div>
      <label>Address</label>
      <input type="text" name="address"/>
    </div>
    <div>
    <div>
      <label>Sell Date</label>
      <input type="text" name="sell_date"/>
    </div>
    <div>
      <label>Link</label>
      <input name="post_url" />
    </div>
    <div>
      <label>Price Floor</label>
      <input type="text" name="price_floor"/>
    </div>  
    <div>
      <label>Price Ceiling</label>
      <input type="text" name="price_ceiling"/>
    </div>   
    <div>
      <label>Bedrooms</label>
      <input type="text" name="beds"/>
    </div> 
    <div>
      <label>Bathrooms</label>
      <input type="text" name="baths"/>
    </div>
    <div>
      <label>Sqft</label>
      <input type="text" name="sqft"/>
    </div>    
    <button type="submit" class="btn">Post New Listing!</button>
  </form>
</section>

{{!-- {{#if hposts.length}} --}}
<section>
  <h2>My Listings</h2>
  <ol>
{{#each hposts as |hpost|}}
  <li>
    <article>
      <div>
        <h2>{{hpost.address}}</h2>
        <span>({{hpost.post_url}})</span>
      </div>
      <div>Approx Sell Date: {{hpost.sell_date}}</div>
      <div>Price Range: {{hpost.price_floor}} - {{hpost.price_ceiling}}</div>
      <div>{{hpost.beds}}Beds, {{hpost.baths}}Ba</div>
      <div>Sqft: {{sqft}}</div>
      <div>by {{hpost.user.username}} on {{hpost.created_at}}</div>
      
    </article>
    <a href="/edit-listing/{{hpost.id}}" class="edit-link">Edit Listing</a>
  </li>
  {{/each}}
</ol>
  {{!-- <ol>
    {{#each hposts as |hpost|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol> --}}
</section>
{{!-- {{/if}} --}}

<footer>
  <a href="/">
  <img alt="Selling Later" src="/images/logo.png"
    width="150" height="70">
  </a>
  <div class = "signup-bar">   
</footer>

<script src="/javascript/new-listing.js"></script>